#input-container {
    padding: 10px;
}

#table-container {
    padding: 10px;
}

#clipboard-button {
    float: right;
}

#scan-values-title {
    text-align: center;
}

h1 {
    color: #9f9f9f;
    font-family: 'Trocchi', serif;
    font-size: 45px;
    font-weight: normal;
    line-height: 48px;
    margin: 0;
    text-shadow: 0 1px 1px #ffffff;
}

body {
    background-color: #292929;
}